@keyframes right-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in-right-left {
  0% {
    opacity: 0;
    transform: translateX(8.7rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left-right {
  0% {
    opacity: 0;
    transform: translateX(-8.7rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-bottom-top {
  0% {
    opacity: 0;
    transform: translateY(8.7rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-up-y {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes rolling-from-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(-360deg);
  }

  50% {
    opacity: 1;
    transform: translateX(2rem) rotate(45deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes rolling-from-right {
  0% {
    opacity: 0;
    transform: translateX(10rem) rotate(360deg);
  }

  50% {
    opacity: 1;
    transform: translateX(-2rem) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
